<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import { SlpContainer, SlpColumn } from '~/components/common/index';
import { SideMenu } from '~/components/side-menu/index';
import InstallDropdown from '~/components/install/install-dropdown.vue';
import CardSection from '~/components/install/card-section.vue';

import { AnchorDropdown } from '~/components/stages-devops-lifecycle/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    SlpColumn,
    SideMenu,
    SlpContainer,
    AnchorDropdown,
    InstallDropdown,
    CardSection,
  },
  async asyncData({ $content }) {
    const doc = await $content('install/index').fetch();
    return { doc };
  },
  data() {
    return {
      dropdownCard: null,
      sideMenuY: 5600, // update this value if side menu if page content becomes longer
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    if (this.$route.hash) {
      /* eslint-disable prefer-destructuring */
      this.dropdownCard = this.$route.hash.split('#')[1];
    }
    const { sideMenu } = this.$refs;

    document.addEventListener('scroll', () => {
      if (window.scrollY >= this.sideMenuY) {
        // update this value if side menu if page content becomes longer
        sideMenu.$el.style.display = 'none';
      } else sideMenu.$el.style.display = 'block';
    });
  },
  methods: {
    openDropdown(cardId) {
      this.dropdownCard = cardId;
      this.sideMenuY = 6900; // update this value if side menu if page content becomes longer
    },
    closeDropdown() {
      this.dropdownCard = null;
      this.$router.push(this.$route.path.split('#'));
      this.sideMenuY = 5600; // update this value if side menu if page content becomes longer
    },
  },
});
</script>
<template>
  <div class="install">
    <SlpContainer>
      <SlpRow class="row">
        <SlpColumn :cols="10" size="xl">
          <div class="header">
            <SlpTypography tag="h1" variant="heading1-bold">{{
              doc.header.title
            }}</SlpTypography>
            <SlpTypography tag="h2" variant="heading4">{{
              doc.header.subtitle
            }}</SlpTypography>
            <div
              class="header__text"
              v-html="$md.render(doc.header.text)"
            ></div>
          </div>
          <!-- Linux and dropdown functionality -->
          <div class="section colored-background">
            <SlpTypography tag="p" class="linux-subtitle" variant="all-caps">{{
              doc.linux.subtitle
            }}</SlpTypography>
            <SlpTypography tag="h2" variant="heading2-bold">{{
              doc.linux.title
            }}</SlpTypography>
            <div class="text" v-html="$md.render(doc.linux.text)"></div>
            <div class="cards">
              <a
                v-for="card in doc.linux.cards"
                :key="card.title"
                aria-label="Click for installation instructions"
                :href="card.link_url"
                class="dropdown-card"
                @click="openDropdown(card.id)"
              >
                <div class="image-container">
                  <img :src="card.img_src" alt="" aria-hidden="true" />
                </div>
                <SlpTypography tag="h3" variant="heading3">{{
                  card.title
                }}</SlpTypography>
                <SlpTypography tag="p">{{ card.subtext }}</SlpTypography>
                <span>{{ card.link_text }}</span>
              </a>
            </div>
            <InstallDropdown
              v-for="dropdown in doc.linux.dropdowns"
              v-show="dropdownCard == dropdown.id"
              :id="dropdown.id"
              :key="dropdown.id"
              :data="dropdown"
              @closed="closeDropdown"
            />
          </div>
          <!-- End Linux -->
          <AnchorDropdown
            fixed
            :options="doc.side_menu.links"
            :placeholder="doc.side_menu.placeholder"
          />
          <div ref="copyContainer">
            <CardSection
              :id="'kubernetes-deployments'"
              :data="doc.kubernetes"
            />
            <CardSection
              :id="'supported-cloud'"
              class="colored-background"
              :data="doc.supported_cloud"
            />
            <CardSection
              :id="'other-official-methods'"
              :data="doc.official_methods"
            />
            <CardSection
              :id="'community-contributed'"
              class="colored-background"
              :data="doc.unofficial_methods"
            />
            <CardSection :id="'already-installed'" :data="doc.updates" />
          </div>
        </SlpColumn>
        <SideMenu
          v-if="doc.side_menu"
          ref="sideMenu"
          :links="doc.side_menu.links"
        />
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.install {
  position: relative;
  overflow: hidden;
}
.header {
  margin-top: $spacing-96;

  h1,
  h2 {
    margin-bottom: $spacing-16;
  }
}

.colored-background {
  background: $color-surface-100;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: $spacing-64 0;

  ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4000px;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $color-surface-100;
  }

  ::after {
    content: '';
    position: absolute;
    top: 0;
    right: -4000px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: $color-surface-100;
  }
}

.text::v-deep {
  font-size: $font-size-default;
  line-height: $line-height-default;

  p {
    margin-bottom: $spacing-8;
  }
}

.section {
  margin: $spacing-64 0;

  h2 {
    margin-bottom: $spacing-16;
  }
}

.linux-subtitle {
  margin-bottom: $spacing-8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-16;
  align-items: stretch;
  margin-top: $spacing-48;
}

.dropdown-card {
  flex: 1 0 calc(33% - 16px);
  background: $color-surface-50;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: $spacing-32;
  width: 100%;
  max-width: 450px;
  border-radius: 16px;
  box-shadow: none;
  transition: all 0.3 ease-in-out;
  margin-bottom: $spacing-8;

  &:hover {
    box-shadow: $shadow-surface-primary-3;
  }

  @media (max-width: $breakpoint-md) {
    flex: 0 0 calc(50% - 8px);
  }

  @media (max-width: $breakpoint-sm) {
    flex: 0 0 100%;
  }

  h3 {
    margin: $spacing-16 0 $spacing-24 0;
    color: $color-text-300;
  }

  p {
    color: $color-text-300;
    font-size: $font-size-default;
    line-height: $line-height-default;
    margin-bottom: $spacing-24;
  }

  span {
    font-weight: $font-weight-bold;
    color: $color-text-300;
    display: flex;
    align-items: center;

    svg {
      margin-left: 12px;
    }
  }
  .image-container {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    position: relative;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
