<script>
import ChevronLg from '../../static/nuxt-images/ico/chevron-lg.vue';

export default {
  components: {
    ChevronLg,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    id: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>

<template>
  <div :id="id" class="section">
    <SlpTypography tag="h2" variant="heading2-bold">{{
      data.title
    }}</SlpTypography>
    <div v-if="data.text" class="text" v-html="$md.render(data.text)"></div>
    <div class="cards">
      <a
        v-for="card in data.cards"
        :key="card.title"
        :class="`card ${card.new_flag && 'new'}`"
        :href="card.link_url"
        :data-ga-name="card.data_ga_name"
        :data-ga-location="card.data_ga_location"
      >
        <div v-if="card.img_src" class="image-container">
          <img :src="card.img_src" alt="" aria-hidden="true" />
        </div>
        <SlpTypography tag="h3" variant="heading3">{{
          card.title
        }}</SlpTypography>
        <SlpTypography tag="p">{{ card.subtext }}</SlpTypography>
        <span>{{ card.link_text }}<ChevronLg direction="right" /></span>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section {
  margin: $spacing-64 0;
  position: relative;

  h2 {
    margin-bottom: $spacing-16;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-16;
    align-items: stretch;
    margin-top: $spacing-48;
  }

  .card {
    flex: 1 0 33%;
    background: $color-surface-50;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 40px $spacing-24;
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    transition: all 0.3 ease-in-out;

    &:hover {
      box-shadow: $shadow-surface-primary-3;
    }

    @media (max-width: $breakpoint-md) {
      flex: 0 0 calc(50% - 8px);
    }

    @media (max-width: $breakpoint-sm) {
      flex: 0 0 100%;
      margin: $spacing-16 0;
    }

    h3 {
      margin: $spacing-16 0 $spacing-24 0;
      color: $color-text-300;
    }

    p {
      color: $color-text-300;
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin-bottom: $spacing-24;
    }

    span {
      font-weight: $font-weight-bold;
      color: $color-text-300;
      display: flex;
      align-items: center;

      svg {
        margin-left: 12px;
      }
    }
  }

  .image-container {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    position: relative;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .text ::v-deep {
    p,
    ul {
      margin-bottom: $spacing-16;
    }

    li {
      margin-bottom: $spacing-8;
    }
  }
}
</style>
