<script lang="ts">
export default {
  props: {
    target: {
      type: String,
      required: true,
      default: null,
    },
  },
  methods: {
    async copy(codeSnippet: String) {
      const sanitizedCodeSnippet = codeSnippet.replace(/`/g, '');
      await navigator.clipboard.writeText(sanitizedCodeSnippet);
    },
  },
};
</script>

<template>
  <span>
    <button
      class="copy-button"
      type="button"
      aria-label="Copy code snippet to clipboard"
      @click="copy(target)"
    >
      <svg
        width="12"
        height="16"
        viewBox="0 0 12 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6 2.5C6 3.05228 5.55228 3.5 5 3.5C4.44772 3.5 4 3.05228 4 2.5C4 1.94772 4.44772 1.5 5 1.5C5.55228 1.5 6 1.94772 6 2.5ZM7.44999 2C7.21836 0.85888 6.20948 0 5 0C3.79052 0 2.78164 0.85888 2.55001 2H1C0.447714 2 0 2.44772 0 3V13C0 13.5523 0.447715 14 1 14H3V12.5H1.5V3.5H2.5V5H4H5H6H7.5V3.5H8.5V7H10V3C10 2.44772 9.55228 2 9 2H7.44999ZM5.5 9.5H6.75C7.16421 9.5 7.5 9.16421 7.5 8.75C7.5 8.33579 7.16421 8 6.75 8H5.25C4.55964 8 4 8.55964 4 9.25V10.75C4 11.1642 4.33579 11.5 4.75 11.5C5.16421 11.5 5.5 11.1642 5.5 10.75V9.5ZM6.75 14.5H5.5V13.25C5.5 12.8358 5.16421 12.5 4.75 12.5C4.33579 12.5 4 12.8358 4 13.25V14.75C4 15.4404 4.55964 16 5.25 16H6.75C7.16421 16 7.5 15.6642 7.5 15.25C7.5 14.8358 7.16421 14.5 6.75 14.5ZM10.5 9.5H9.25C8.83579 9.5 8.5 9.16421 8.5 8.75C8.5 8.33579 8.83579 8 9.25 8H10.75C11.4404 8 12 8.55964 12 9.25V10.75C12 11.1642 11.6642 11.5 11.25 11.5C10.8358 11.5 10.5 11.1642 10.5 10.75V9.5ZM9.25 14.5H10.5V13.25C10.5 12.8358 10.8358 12.5 11.25 12.5C11.6642 12.5 12 12.8358 12 13.25V14.75C12 15.4404 11.4404 16 10.75 16H9.25C8.83579 16 8.5 15.6642 8.5 15.25C8.5 14.8358 8.83579 14.5 9.25 14.5Z"
          fill="black"
        />
      </svg>
    </button>
  </span>
</template>

<style scoped lang="scss">
.copy-button {
  border: none;
  cursor: pointer;
  box-shadow: none;

  &:active {
    box-shadow: 0 0 0 1px #333, 0 0 0 3px #1f75cb;
  }
}
</style>
