<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="feature-block-hero slp-pb-0 slp-pb-md-96 slp-pt-64">
    <SlpContainer>
      <SlpRow class="slp-pb-64">
        <SlpColumn
          :cols="6"
          size="md"
          data-aos="fade-down"
          data-aos-duration="800"
        >
          <SlpTypography class="slp-pb-16" variant="heading4" tag="div">{{
            data['feature-name']
          }}</SlpTypography>
          <SlpTypography variant="heading1-bold" tag="h1">{{
            data['feature-hook']
          }}</SlpTypography>
          <SlpButton
            v-if="data['feature-button']"
            data-aos="fade-down"
            data-aos-duration="1200"
            class="slp-mt-24"
            :href="data['feature-button']['button-link']"
            >{{ data['feature-button']['button-text'] }}</SlpButton
          >
        </SlpColumn>
        <SlpColumn :cols="6" size="md">
          <img
            data-aos="zoom-out-left"
            data-aos-duration="1600"
            class="feature-block-hero__image"
            :src="data['feature-image']"
            alt=""
          />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
    <div
      data-aos="zoom-out-left"
      data-aos-duration="1600"
      class="feature-block-hero__purple-background"
    />
  </div>
</template>

<style lang="scss" scoped>
.feature-block-hero {
  position: relative;

  &__image {
    width: 100%;
    padding-top: $spacing-64;

    @media (min-width: $breakpoint-md) {
      margin-left: $spacing-24;
      padding-top: $spacing-24;
    }
  }

  &__purple-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background: #f6f3fe;
    width: 40%;
    height: 100%;
  }
}
</style>
