<script lang="ts">
import Vue from 'vue';
import { SearchInput, AnimationIconBackground } from '../common/index.vue';

export default Vue.extend({
  name: 'Error404',
  components: { SearchInput, AnimationIconBackground },
});
</script>

<template>
  <div class="error-container">
    <AnimationIconBackground />
    <div class="error">
      <div
        class="slp-flex slp-flex-column slp-justify-content-center slp-align-items-center"
      >
        <SlpTypography tag="h4" variant="heading4"
          >😵 Oops! That page doesn't exist.</SlpTypography
        >
        <SearchInput />
        <div class="error__relevant-links slp-mt-96 slp-mb-24">
          <SlpTypography tag="p" variant="body2" class="slp-mb-16"
            >Here are some useful links</SlpTypography
          >
          <div class="error__links">
            <div class="error__link-box">
              <a href="/" data-ga-name="home" data-ga-location="body">Home</a>
            </div>
            <div class="error__link-box">
              <a href="/pricing" data-ga-name="pricing" data-ga-location="body"
                >Pricing</a
              >
            </div>
            <div class="error__link-box">
              <a
                href="/get-help"
                data-ga-name="get help"
                data-ga-location="body"
                >Get help</a
              >
            </div>
            <div class="error__link-box">
              <a href="/contact" data-ga-name="contact" data-ga-location="body"
                >Contact us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.error-container {
  background-color: $color-surface-100;
}

.error {
  padding: 50px 20px;
  margin: auto auto -80px;
  width: 100%;
  max-width: $breakpoint-2xl;

  @media (min-width: $breakpoint-md) {
    padding: 100px 200px;
  }

  h4 {
    font-weight: 600;
  }

  &__relevant-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  &__link-box {
    margin-top: 10px;
    margin-bottom: 30px;

    a {
      background: white;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
      flex: 0 0 auto;
      margin: 5px;
      min-width: 280px;
      padding: 10px;
      text-align: center;
      white-space: nowrap;
      width: calc(33.3333% - 10px);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>
